.logo, .slider .move, .two-blog .container, .two-blog .pics .content, .two-blog .pics a, .footer .container, .footer .footer-menu ul, .about .container, .rooms .container, .rooms .container .text-1, .rooms .container .text-2, .rooms .container .text-3, .reef .container .text-1 .picture, .reef .container .text-2 .picture, .reef .container .text-3 .picture, .reef .container .text-1 .info, .reef .container .text-2 .info, .reef .container .text-3 .info, .food .container .holder {
  *zoom: 1; }
  .logo:before, .slider .move:before, .two-blog .container:before, .two-blog .pics .content:before, .two-blog .pics a:before, .footer .container:before, .footer .footer-menu ul:before, .about .container:before, .rooms .container:before, .rooms .container .text-1:before, .rooms .container .text-2:before, .rooms .container .text-3:before, .reef .container .text-1 .picture:before, .reef .container .text-2 .picture:before, .reef .container .text-3 .picture:before, .reef .container .text-1 .info:before, .reef .container .text-2 .info:before, .reef .container .text-3 .info:before, .food .container .holder:before, .logo:after, .slider .move:after, .two-blog .container:after, .two-blog .pics .content:after, .two-blog .pics a:after, .footer .container:after, .footer .footer-menu ul:after, .about .container:after, .rooms .container:after, .rooms .container .text-1:after, .rooms .container .text-2:after, .rooms .container .text-3:after, .reef .container .text-1 .picture:after, .reef .container .text-2 .picture:after, .reef .container .text-3 .picture:after, .reef .container .text-1 .info:after, .reef .container .text-2 .info:after, .reef .container .text-3 .info:after, .food .container .holder:after {
    content: " ";
    display: table; }
  .logo:after, .slider .move:after, .two-blog .container:after, .two-blog .pics .content:after, .two-blog .pics a:after, .footer .container:after, .footer .footer-menu ul:after, .about .container:after, .rooms .container:after, .rooms .container .text-1:after, .rooms .container .text-2:after, .rooms .container .text-3:after, .reef .container .text-1 .picture:after, .reef .container .text-2 .picture:after, .reef .container .text-3 .picture:after, .reef .container .text-1 .info:after, .reef .container .text-2 .info:after, .reef .container .text-3 .info:after, .food .container .holder:after {
    clear: both; }

/*STICKY FOOTER*/
.wrapper {
  min-height: 100%;
  margin: 0 auto -430px; }
  @media only screen and (min-width: 601px) {
    .wrapper {
      margin-bottom: -104px; } }

footer, .push {
  height: 430px; }
  @media only screen and (min-width: 601px) {
    footer, .push {
      height: 104px; } }

/*BODY STYLES*/
body {
  background-color: #DBCDA6;
  background: url(../images/bg-pattern.jpg) repeat-x, url(../images/bg-body.jpg) repeat;
  font-size: 80%; }

/*GENERIC STYLES*/
a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  min-width: 300px;
  max-width: 860px; }
  @media only screen and (min-width: 601px) {
    .container {
      width: 96%; } }
  @media only screen and (min-width: 880px) {
    .container {
      width: 75%; } }

/*HEADER*/
@media only screen and (min-width: 880px) {
  .header .container {
    font-size: 120%; } }

/*HEADER - LOGO*/
.logo {
  margin-bottom: 10px; }
  .logo a {
    display: none;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all; }
    @media only screen and (min-width: 601px) {
      .logo a {
        display: inline-block; } }
    .logo a:hover {
      opacity: 0.85;
      filter: alpha(opacity=85); }
  .logo button {
    float: right;
    border: 0px solid black;
    color: #214d47;
    background-color: #a49c6e;
    margin: 10px 10px 10px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all; }
    .logo button:hover {
      opacity: 0.85;
      filter: alpha(opacity=85); }
    @media only screen and (min-width: 601px) {
      .logo button {
        display: none; } }

/*HEADER - TOP MENU*/
.top-menu nav {
  display: none; }
  @media only screen and (min-width: 601px) {
    .top-menu nav {
      display: block; } }
.top-menu a {
  display: block;
  background: #46a094 url(../images/tm-bg-green.png) repeat-x 0 0;
  padding: 7px 15px;
  text-align: center;
  font-size: 80%;
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.25s ease all;
  -moz-transition: 0.25s ease all;
  -ms-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all; }
  @media only screen and (min-width: 601px) {
    .top-menu a {
      float: left;
      width: 14%;
      border-left: 1px solid #39867c;
      padding: 11px 10px; }
      .top-menu a.dive {
        width: 16%; }
      .top-menu a:first-child {
        border-left: none; } }
  @media only screen and (min-width: 880px) {
    .top-menu a {
      padding: 15px; } }
  .top-menu a.active {
    background: #96897f url(../images/tm-bg-brown.png) repeat-x 0 0;
    color: #e4e1bd; }
  .top-menu a:hover {
    background: #d1cbab url(../images/tm-bg-hover.png) repeat-x 0 0;
    color: #6e6258;
    opacity: 0.85;
    filter: alpha(opacity=85); }

/*SLIDER*/
.slider .container {
  position: relative;
  overflow: hidden;
  margin-top: 20px; }
  .slider .container p.capture {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    font-weight: bold;
    padding: 7px;
    color: #6e6258;
    text-align: center;
    background: rgba(209, 203, 171, 0.7);
    z-index: 2; }
    @media only screen and (min-width: 601px) {
      .slider .container p.capture {
        padding: 12px;
        font-size: 110%; } }
    @media only screen and (min-width: 880px) {
      .slider .container p.capture {
        padding: 17px;
        font-size: 120%; } }
.slider .move {
  position: relative;
  width: 800%;
  left: 0;
  text-align: left;
  font-size: 0;
  margin: 0;
  padding: 0; }
  .slider .move img {
    float: left;
    width: 12.5%;
    border: 4px solid #fff; }

/*SECTION ONE*/
.one .container {
  margin-top: 10px; }
.one .content {
  padding: 0 10px; }
  @media only screen and (min-width: 601px) {
    .one .content {
      padding: 0; } }
.one h2, .one h3 {
  color: #295d56; }
  @media only screen and (min-width: 601px) {
    .one h2, .one h3 {
      color: #316e66; } }
.one h3 {
  font-size: 20px; }
  @media only screen and (min-width: 601px) {
    .one h3 {
      font-size: 24px; } }
.one p {
  font-size: 110%;
  color: #5d4938;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all; }
  .one p a {
    color: #5d4938;
    text-decoration: underline; }
    .one p a:hover {
      color: #716f3d; }
  .one p:hover {
    color: #2c1f15; }

/*SECTION TWO - BLOG*/
.two-blog .container {
  margin-top: 20px; }
.two-blog .content-wrapper {
  float: left;
  margin: 0;
  padding: 0; }
  .two-blog .content-wrapper h4 {
    color: #295d56; }
    @media only screen and (min-width: 601px) {
      .two-blog .content-wrapper h4 {
        color: #316e66; } }
  .two-blog .content-wrapper p {
    color: #5d4938;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all; }
  .two-blog .content-wrapper p.date {
    margin-top: 3px; }
  .two-blog .content-wrapper p:not(.date) {
    font-size: 110%; }
    .two-blog .content-wrapper p:not(.date):hover {
      color: #2c1f15; }
  .two-blog .content-wrapper p.sign {
    color: #316e66;
    margin: 0;
    text-align: right; }
    .two-blog .content-wrapper p.sign:hover {
      color: #316e66; }
  .two-blog .content-wrapper .latest-blog, .two-blog .content-wrapper .testimonials {
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .two-blog .content-wrapper .latest-blog {
    padding-bottom: 20px; }
    .two-blog .content-wrapper .latest-blog h4:first-child {
      margin-top: 0; }
    .two-blog .content-wrapper .latest-blog div {
      border-top: 1px dotted #9c8964;
      padding-top: 10px; }
      .two-blog .content-wrapper .latest-blog div h4 {
        margin-bottom: 0; }
        .two-blog .content-wrapper .latest-blog div h4 a {
          color: #295d56; }
          @media only screen and (min-width: 601px) {
            .two-blog .content-wrapper .latest-blog div h4 a {
              color: #316e66; } }
          .two-blog .content-wrapper .latest-blog div h4 a:hover {
            color: #716f3d; }
    .two-blog .content-wrapper .latest-blog div:last-child {
      border-bottom: 1px dotted #9c8964; }
  .two-blog .content-wrapper .testimonials {
    margin-top: 15px; }
    .two-blog .content-wrapper .testimonials p {
      margin-bottom: 0; }
.two-blog .news {
  padding: 0 5px 0 10px; }
  @media only screen and (min-width: 601px) {
    .two-blog .news {
      width: 50%;
      padding-left: 0; } }
  @media only screen and (min-width: 880px) {
    .two-blog .news {
      width: 55%; } }
  @media only screen and (min-width: 1100px) {
    .two-blog .news {
      width: 60%; } }
.two-blog .pics {
  margin-top: 15px; }
  @media only screen and (min-width: 601px) {
    .two-blog .pics {
      width: 50%;
      margin-top: 0; } }
  @media only screen and (min-width: 880px) {
    .two-blog .pics {
      width: 45%; } }
  @media only screen and (min-width: 1100px) {
    .two-blog .pics {
      width: 40%; } }
  .two-blog .pics .content {
    text-align: center; }
    @media only screen and (min-width: 601px) {
      .two-blog .pics .content {
        text-align: right; } }
  .two-blog .pics a {
    display: inline-block;
    margin-bottom: 15px;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all; }
    .two-blog .pics a:hover {
      opacity: 0.85;
      filter: alpha(opacity=85); }
  .two-blog .pics img {
    margin-right: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .two-blog .pics img:last-child {
      margin-bottom: 0; }
    @media only screen and (min-width: 601px) {
      .two-blog .pics img {
        float: right;
        margin-right: 0; } }

/*FOOTER - MENU*/
.footer .footer-menu {
  margin-top: 15px; }
  .footer .footer-menu ul {
    background-color: #ac9e94; }
    .footer .footer-menu ul li {
      width: 100%;
      float: left;
      border-top: 1px solid #cdbeb2;
      border-bottom: 1px solid #72675f; }
      .footer .footer-menu ul li.left a {
        padding-top: 16px; }
        .footer .footer-menu ul li.left a:hover {
          color: #fff;
          background-color: #b9a89d; }
      @media only screen and (min-width: 601px) {
        .footer .footer-menu ul li.left {
          font-size: 90%;
          width: 10%; }
          .footer .footer-menu ul li.left.dive {
            width: 16%; } }
      @media only screen and (min-width: 880px) {
        .footer .footer-menu ul li.left {
          font-size: 100%; } }
      .footer .footer-menu ul li.right {
        width: 25%; }
        .footer .footer-menu ul li.right a {
          padding-top: 12px; }
          .footer .footer-menu ul li.right a img {
            opacity: 0.45;
            filter: alpha(opacity=45);
            -webkit-transition: 0.25s ease all;
            -moz-transition: 0.25s ease all;
            -ms-transition: 0.25s ease all;
            -o-transition: 0.25s ease all;
            transition: 0.25s ease all; }
            .footer .footer-menu ul li.right a img:hover {
              opacity: 0.75;
              filter: alpha(opacity=75); }
        @media only screen and (min-width: 601px) {
          .footer .footer-menu ul li.right {
            width: 6%; } }
      .footer .footer-menu ul li a {
        display: block;
        height: 45px;
        text-align: center;
        font-size: 90%;
        font-weight: bold;
        color: #594334;
        -webkit-transition: 0.25s ease all;
        -moz-transition: 0.25s ease all;
        -ms-transition: 0.25s ease all;
        -o-transition: 0.25s ease all;
        transition: 0.25s ease all; }
        .footer .footer-menu ul li a.active {
          color: #eee7c3; }
  .footer .footer-menu p {
    font-size: 90%;
    color: #594334;
    text-align: center; }
    @media only screen and (min-width: 601px) {
      .footer .footer-menu p {
        font-size: 100%; } }

/*ABOUT PAGE*/
.about .container {
  background-color: #fff;
  margin-top: 20px;
  padding: 15px 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .about .container .text-1, .about .container .text-2, .about .container .text-3 {
    float: left;
    width: 100%;
    padding: 0 10px;
    margin-top: 25px; }
    .about .container .text-1 h2:first-child, .about .container .text-1 h3:first-child, .about .container .text-2 h2:first-child, .about .container .text-2 h3:first-child, .about .container .text-3 h2:first-child, .about .container .text-3 h3:first-child {
      margin-top: 0; }
  .about .container .text-1 {
    border-bottom: 1px solid #BBBBBB; }
  @media only screen and (min-width: 601px) {
    .about .container .text-2 {
      width: 65%; } }
  @media only screen and (min-width: 601px) {
    .about .container .text-3 {
      width: 35%;
      border-left: 1px solid #BBBBBB; } }

/*ROOMS PAGE*/
.rooms .container {
  background-color: #fff;
  margin-top: 20px;
  padding: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  @media only screen and (min-width: 601px) {
    .rooms .container {
      padding: 15px 30px; } }
  .rooms .container h2 {
    padding-left: 10px; }
    @media only screen and (min-width: 601px) {
      .rooms .container h2 {
        padding-left: 0; } }
  .rooms .container .text-1, .rooms .container .text-2, .rooms .container .text-3 {
    float: left;
    width: 100%;
    padding-bottom: 15px;
    margin-top: 25px; }
    .rooms .container .text-1 h2:first-child, .rooms .container .text-1 h3:first-child, .rooms .container .text-2 h2:first-child, .rooms .container .text-2 h3:first-child, .rooms .container .text-3 h2:first-child, .rooms .container .text-3 h3:first-child {
      margin-top: 0; }
    .rooms .container .text-1 h3 a, .rooms .container .text-2 h3 a, .rooms .container .text-3 h3 a {
      color: #295d56; }
      @media only screen and (min-width: 601px) {
        .rooms .container .text-1 h3 a, .rooms .container .text-2 h3 a, .rooms .container .text-3 h3 a {
          color: #316e66; } }
      .rooms .container .text-1 h3 a:hover, .rooms .container .text-2 h3 a:hover, .rooms .container .text-3 h3 a:hover {
        color: #716f3d; }
    .rooms .container .text-1 .content, .rooms .container .text-2 .content, .rooms .container .text-3 .content {
      float: left; }
      .rooms .container .text-1 .content img, .rooms .container .text-2 .content img, .rooms .container .text-3 .content img {
        max-width: 100%;
        height: auto;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19); }
    @media only screen and (min-width: 601px) {
      .rooms .container .text-1 .picture, .rooms .container .text-2 .picture, .rooms .container .text-3 .picture {
        width: 55%; } }
    .rooms .container .text-1 .info, .rooms .container .text-2 .info, .rooms .container .text-3 .info {
      position: relative;
      padding-top: 10px; }
      @media only screen and (min-width: 601px) {
        .rooms .container .text-1 .info, .rooms .container .text-2 .info, .rooms .container .text-3 .info {
          width: 45%;
          padding: 0 0 0 15px; } }
      .rooms .container .text-1 .info p.rate, .rooms .container .text-2 .info p.rate, .rooms .container .text-3 .info p.rate {
        display: inline-block;
        width: 150px;
        padding: 7px;
        border: 1px solid #5A4535;
        text-align: center;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px; }
        .rooms .container .text-1 .info p.rate:hover, .rooms .container .text-2 .info p.rate:hover, .rooms .container .text-3 .info p.rate:hover {
          background-color: rgba(224, 221, 159, 0.3); }
  .rooms .container .text-1, .rooms .container .text-2 {
    border-bottom: 1px solid #BBBBBB; }

/*REEF PAGE*/
.reef .container .text-1 .picture img, .reef .container .text-2 .picture img, .reef .container .text-3 .picture img {
  float: right; }
@media only screen and (min-width: 601px) {
  .reef .container .text-1 .info, .reef .container .text-2 .info, .reef .container .text-3 .info {
    padding: 0 15px 0 0; } }

/*FOOD*/
.food .container {
  padding: 15px 40px; }
  .food .container .text-1, .food .container .text-2, .food .container .text-3 {
    padding-bottom: 30px; }
  .food .container .holder {
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19); }
    .food .container .holder img {
      float: left;
      max-width: 100%;
      height: auto;
      -webkit-transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -ms-transition: 0.2s ease all;
      -o-transition: 0.2s ease all;
      transition: 0.2s ease all; }
      .food .container .holder img:hover {
        opacity: 0.4;
        filter: alpha(opacity=40); }
      .food .container .holder img.large {
        display: none; }
        @media only screen and (min-width: 601px) {
          .food .container .holder img.large {
            display: block; } }
      @media only screen and (min-width: 601px) {
        .food .container .holder img.small {
          display: none; } }
    .food .container .holder .hidden {
      display: none;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #FDF8F5;
      font-size: 80%;
      padding: 0 10px;
      color: #295d56; }
      @media only screen and (min-width: 601px) {
        .food .container .holder .hidden {
          font-size: 85%;
          color: #316e66; } }
      @media only screen and (min-width: 880px) {
        .food .container .holder .hidden {
          font-size: 90%; } }
      .food .container .holder .hidden h4 {
        margin: 7px 0; }
      .food .container .holder .hidden p {
        color: #316e66; }
