.logo, .slider .move {
  *zoom: 1; }
  .logo:before, .slider .move:before, .logo:after, .slider .move:after {
    content: " ";
    display: table; }
  .logo:after, .slider .move:after {
    clear: both; }

/*STICKY FOOTER*/
.wrapper {
  min-height: 100%;
  margin: 0 auto -90px; }

footer, .push {
  height: 90px; }

/*BODY STYLES*/
body {
  background-color: #DBCDA6;
  background: url(../images/bg-pattern.jpg) repeat-x, url(../images/bg-body.jpg) repeat;
  font-size: 70%; }

/*GENERIC STYLES*/
a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  min-width: 300px;
  max-width: 860px; }
  @media only screen and (min-width: 601px) {
    .container {
      width: 96%; } }
  @media only screen and (min-width: 880px) {
    .container {
      width: 75%; } }

/*HEADER*/
@media only screen and (min-width: 880px) {
  .header .container {
    font-size: 120%; } }

/*HEADER - LOGO*/
.logo {
  margin-bottom: 10px; }
  .logo a {
    display: none;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all; }
    @media only screen and (min-width: 601px) {
      .logo a {
        display: inline-block; } }
    .logo a:hover {
      opacity: 0.85;
      filter: alpha(opacity=85); }
  .logo button {
    float: right;
    border: 0px solid black;
    color: #214d47;
    background-color: #a49c6e;
    margin: 10px 10px 10px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all; }
    .logo button:hover {
      opacity: 0.85;
      filter: alpha(opacity=85); }
    @media only screen and (min-width: 601px) {
      .logo button {
        display: none; } }

/*HEADER - TOP MENU*/
.top-menu nav {
  display: none; }
  @media only screen and (min-width: 601px) {
    .top-menu nav {
      display: block; } }
.top-menu a {
  display: block;
  background: #46a094 url(../images/tm-bg-green.png) repeat-x 0 0;
  padding: 7px 15px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.25s ease all;
  -moz-transition: 0.25s ease all;
  -ms-transition: 0.25s ease all;
  -o-transition: 0.25s ease all;
  transition: 0.25s ease all; }
  @media only screen and (min-width: 601px) {
    .top-menu a {
      float: left;
      width: 14%;
      border-left: 1px solid #39867c;
      padding: 11px 15px; }
      .top-menu a.dive {
        width: 16%; }
      .top-menu a:first-child {
        border-left: none; } }
  @media only screen and (min-width: 880px) {
    .top-menu a {
      padding: 15px; } }
  .top-menu a.active {
    background: #96897f url(../images/tm-bg-brown.png) repeat-x 0 0;
    color: #e4e1bd; }
  .top-menu a:hover {
    background: #d1cbab url(../images/tm-bg-hover.png) repeat-x 0 0;
    color: #6e6258;
    opacity: 0.85;
    filter: alpha(opacity=85); }

/*SLIDER*/
.slider .container {
  position: relative;
  overflow: hidden;
  margin-top: 20px; }
  .slider .container p.capture {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    font-weight: bold;
    padding: 7px;
    font-size: 110%;
    color: #6e6258;
    text-align: center;
    background: rgba(209, 203, 171, 0.7);
    z-index: 2; }
    @media only screen and (min-width: 601px) {
      .slider .container p.capture {
        padding: 12px;
        font-size: 130%; } }
    @media only screen and (min-width: 880px) {
      .slider .container p.capture {
        padding: 17px;
        font-size: 140%; } }
.slider .move {
  position: relative;
  width: 800%;
  left: 0;
  text-align: left;
  font-size: 0;
  margin: 0;
  padding: 0; }
  .slider .move img {
    float: left;
    width: 12.5%;
    border: 4px solid #fff; }
